/* ------------------------------ base css ↓↓ */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #595758;
}
.flex{
	display:flex;
}
header h1{
    background-image: url(images/profile_bg.jpg);
    width: 100%;
    height: 200px;
    border-bottom: 5px solid #3BD5D4;
    text-align: left;
    line-height: 100px;
}
.header ul{
    /* リストを横並びにするために親要素に「display: flex」をつけている  */
    display: flex;

    /* リストの間隔を開けるため */
    justify-content: space-between;

    /* 中央揃えにするためには「widthで幅を持っている必要がある」 */
    width: 1000px;
    margin: 0 auto;

    /* リストの上下に幅を持たせている */
    padding: 20px 0px;
    list-style: none;
}
.header ul{
    /* リストを横並びにするために親要素に「display: flex」をつけている  */
    display: flex;

    /* リストの間隔を開けるため */
    justify-content: space-between;

    /* 中央揃えにするためには「widthで幅を持っている必要がある」 */
    width: 1000px;
    margin: 0 auto;

    /* リストの上下に幅を持たせている */
    padding: 20px 0px;
    list-style: none;
}
.header ul{
    /* リストを横並びにするために親要素に「display: flex」をつけている  */
    display: flex;

    /* リストの間隔を開けるため */
    justify-content: space-between;

    /* 中央揃えにするためには「widthで幅を持っている必要がある」 */
    width: 650px;
    margin: 0 auto;

    /* リストの上下に幅を持たせている */
    padding: 20px 0px;
    list-style: none;
}
.header ul li a {
    color: white;

}
.header {
    background-color: skyblue;
}
nav {
    background-color: rgb(221, 219, 219);
    width: auto;
    height: 100%;
    margin-left: 400px;
    margin-top: 40px;
    margin-right: 20px;
    color: white;
    font-size:20px;
}
div#informationofme{
    background-color: rgb(221, 219, 219);
    width: 600px;
    height: 100%;
    margin-left: 40px;
    margin-top: 47px;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    font-size:20px;
}
ul{
    list-style-type: none;
}
div#main_img{
    margin-right: 0px;
    margin-top: 50px;
}
footer {
    background-color: rgb(232, 232, 232);
    width: 100%;
    height: 100%;
    border-top: 5px solid #3BD5D4;
    margin-top: 80px;
    white-space: nowrap;
}
.slider img {
    width:100%;/*スライダー内の画像を横幅100%に*/
    height:auto;
}

/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider .slick-slide {
    margin:0 10px;/*スライド左右の余白調整*/
}
